/* Common CSS */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    font-family: 'Instaraise', sans-serif;
    font-size:1.6rem;
}

@font-face {
    font-family: 'Instaraise';
    src: url('../fonts/BinancePlex-Medium.ttf'), 
        url('../fonts/BinancePlex-Medium.woff2'), 
        url('../fonts/BinancePlex-Medium.eot');
    font-weight: 500;
}
@font-face {
    font-family: 'Instaraise';
    src: url('../fonts/BinancePlex-SemiBold.ttf'), 
        url('../fonts/BinancePlex-SemiBold.woff2'), 
        url('../fonts/BinancePlex-SemiBold.eot');
    font-weight: 600;
}
@font-face {
    font-family: 'Instaraise';
    src: url('../fonts/BinancePlexRegular.ttf'), 
        url('../fonts/BinancePlexRegular.woff2'), 
        url('../fonts/BinancePlexRegular.eot');
    font-weight: 400;
} 

li{
    list-style-type: none;
}

p{
    font-weight: 400;
    text-align: justify;
}
h1{
    font-weight:700;
}
h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;

}
a{
    text-decoration: none;
    color:inherit;
}
img{
    max-width:100%;
    object-fit:cover;
}
/* Global classes */
.container{
    max-width: 124rem;
    padding: 0 2rem;
    margin: 0 auto;
    /* min-width:85%; */
}

.row{
    padding: 2rem 0px;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space{
    padding: 7rem 0px;
}

.w-20{
    width:20%;
}


/* Header CSS */

.branding{
    max-width: 15rem;
}

.branding img{

    width:100%;

}

.social ul li{
    padding:0 1rem;
}

/* Blog CSS - Home Page*/

.blog-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
}

.blog-item{
    border-radius: 1rem;
    padding: 2.4rem;
}

.blog-item:hover {
    background-color:rgba(0,0,0,0.02);
}


.blog-item-img img{
    width:100%;
    border-radius: 1rem;
}

.blog-item-text{
    margin-top: 1.6rem;
}

.blog-item-description{
    margin-top: 0.8rem;
    color:#707A8A;
    font-size:14px;
    line-height:20px;
    
}
.blog-date{
    margin: 2.4rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color:#1E2329;
    
}

/* Blog Details Page CSS */

.blog-details .row{

    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:4rem;
}

.blog-content-img img{
    width:100%;
}

.related-post-img img{
    width:100%;
    border-radius:1rem;
}

.share-post h3{
    margin:2rem 0;
}

.sidebar ul li{
    display:inline-block;
    margin:2rem 2rem 2rem 0;
}

.related-post h3{
    margin:2rem 0 4rem 0;
}

.related-post-item{
    margin-bottom:1rem;
    padding:2rem;
    border-radius:1rem;
}

.related-post-item:hover {
    background-color:rgba(0,0,0,0.02);
}

.blog-content-title{
    padding-bottom:1.6rem;
}

.blog-content-title h1{
    margin-bottom:8px;
}

.blog-content-img{
    margin-top:1.6rem;
    margin-bottom:3.2rem;
    
}

.blog-content-img img{
    border-radius:1rem;
}

.blog-content-description p{
    padding: 1.2rem 0;
    line-height:2.4rem;
    color:#1E2329;
}





